@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  height: 100%;
}

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  min-height: 100%; 
  background-color: #FFFCF6;
}


.navbar{
  grid-area: navbar;
  flex-direction: row;
}

.main {
  grid-area: main;
  
  display: grid;
	
    grid-template-columns: 50% 50%;
    grid-template-rows: 280px auto;
    grid-template-areas: 

    "slider slider"
    "png caja3";
}

.footer{
  grid-area: footer;
  background-color: #EFCEC0;
  
  display: grid;
	  grid-template-columns: 50% 50%;
    grid-template-areas: 
    "firma redes";
}

a {
    text-decoration: none;
}


nav ul li a {
    color: #E99598;
    font-size: 1.7rem;
    font-family: 'Cormorant', serif;
    font-weight: lighter;
    align-items: center;
}

.navbar2 a:hover {
    color:#F5E1CE;
}

.navbar {
    padding: 0px;
    align-items: center;
    text-align: center;
    
    
    display: grid;
	  grid-template-columns: 50% 50%;
    grid-template-areas: 
    "productos consejos";
}

.productos {
  grid-area: productos;
}

.consejos {
  grid-area: consejos;
  margin-right: 100%;
}

nav ul li {
    display: contents;
    text-align: center;
}

.slider {
    text-align: center;
    justify-content: center;
    
    display: block;
    width: 100%;
    
    align-items: center;
    grid-area: slider;
}

.maquillaje {
  width: 1300px;
}

.png {
  
  grid-area: png;
 margin-left: auto;
}

.png img {
  width: 45%;
 
}

.caja3 {
  grid-area: caja3;
  
}

.info {
  width: 56%;
  margin-top: 3em;
}

h2 {
  text-align: left;
  font-family: 'Cormorant', serif;
  color: #E99598;
  font-size: 2em;
  font-weight: lighter;
}

.texto1{
  color: black;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  text-align: justify;
  margin-top: 15px;
  margin-bottom: 5px;
   
}


.redes {
  grid-area: redes;
 
}

.redes2 {
  float: right;
  margin-right: 70px;
}

footer {
    display: block;
    align-items: center;
}

.firma {
  grid-area: firma;
  float: left;
  margin-left: 70px;
  font-family: 'Poppins', sans-serif;
}

p {
  display: inline-block;
}

footer div ul a img {
    max-width: 1.8rem;
    width: 100%;
    height: auto;
    margin: 4px;
}



.banner3 {
  width: 100%;
}

.maps {
  text-align: center;
  justify-content: center;
  margin-top: 20px;
}

.main3 {
  display: flex;
  flex-direction: column;
}


.header2{
  padding: 0px;
  align-items: center;
  text-align: center;
  height: fit-content;
  
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-areas: 
  "logo navbar";
}

.logo2 {
  grid-area: logo;
  width: 38%;
  margin-left: auto;
}

.logo2 a img{
  width: 100%;
}

.navbar2{
  grid-area: navbar;
  padding: 0px;
  align-items: center;
  text-align: center;
  
  
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: 
  "productos consejos";
}


.formulario {
  margin-top: 2%;
  text-align: center;
  justify-content: center;
  display: block;
}

input[type="text"] {
  width: 22%;
  height: 33px;
  border-radius: 4px;
  
}

label{
  font-family: 'Cormorant', serif;
  font-weight: lighter;
  font-size: 25px;
  
}

button{
  width: 9%;
  height: 33px;
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
  background-color: #EFCEC0;
  border-radius: 4px;
}

button:hover {
  color:#F5E1CE;
}


.icon {
  display: none;
}

.galeria2 {

  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 25px;
  margin-bottom: 3%;
}

.galeria2 img {
    display: block;
    margin: 10px;
}
















@media (min-width: 576px) and (max-width: 767px) {
    .fa-navicon:before, .fa-reorder:before, .fa-bars:before {
        content: "\f0c9";
        color: #E99598;
        font-size: 27px;
    }

    header {
      flex-wrap: wrap;
      }
  
      nav ul {
          display: none;
      }
  
      .icon { 
          display: block; 
          text-align: center;
          margin-left: auto;
          margin-right: 35%;
      }
  
      header a {
          flex: 1 0 50%;
      }
  
      header nav {
          flex-basis: 100%;
      }
  
      nav.responsive ul {
          display: flex;
          flex-direction: column;
          width: 100%;
          text-align: justify;
      }
  
      #navegador ul li {
          margin: 6px;
      }
  
      header ul li a {
          font-size: 1rem;
          margin-left: -15px;
      }


    .consejos {
      margin-right: 0%;
    }

   
  
  .logo2 {
    grid-area: logo;
    margin: auto;
  }
  
  .logo2 a img{
    width: 100%;
  }

  .header2{
    padding: 0px;
    align-items: center;
    text-align: center;
    height: fit-content;
    
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-areas: 
    "logo navbar";
  }
  
  .navbar2 {
    grid-area: navbar;
    padding: 0px;
    align-items: center;
    text-align: center;
    
    
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: 
    "productos"
    "consejos";
  }  

  
  .contenedor{

    grid-template: 
    "header" auto
    "main"  auto
    "footer"  120px /
    100%;
  }
 


  .main {
    grid-area: main;
    
    display: grid;
    column-gap: 5px;
      grid-template-columns: 100%;
      grid-template-rows: 280px auto;
      grid-template-areas: 
  
      "slider"
      "caja3"
      "png";
  }
  
  .footer{
    grid-area: footer;
    background-color: #EFCEC0;
    
    display: grid;
      grid-template-columns: 100%;
      grid-template-areas: 
      "firma"
      "redes";
      place-items: center;
  }
  
  a {
      text-decoration: none;
  }
  
 
  
  nav ul li {
      display: contents;
      text-align: center;
  }
  
  .slider {
      text-align: center;
      justify-content: center;
      
      display: block;
      width: 100%;
      
      align-items: center;
      grid-area: slider;
  }
  
  .maquillaje {
    width: 1341px;
  }

  .png {
  
    grid-area: png;
    margin-left: auto;
    width: 90%;
  }
  
  .png img {
    width: 100%;
    margin-right: 0px;
    display: grid;
  }


  .caja3 {
    grid-area: caja3;
    
  }
  
  .info {
    width: 100%;
    margin-top: 1em;
  }
  
  h2 {
    text-align: center;
    font-size: 60px;
  }
  
  .texto1{
    color: black;
    font-size: 23px;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 25px;
    margin-bottom: 35px;
    
  }
  
  
  .redes {
    grid-area: redes;
   
  }
  
  .redes2 {
    float: none;
    margin-right: 0px;
  }
  
  footer {
      display: block;
      align-items: center;
  }
  
  .firma {
    grid-area: firma;
    float: none;
    margin-left: 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 29px;
    margin-top: 7px;
  }
  
  footer div ul a img {
      max-width: 3rem;
      width: 100%;
      height: auto;
      margin: 4px;
  }

  .galeria2 div {
    display: flex;
    flex-direction: column;
    text-align: center;
    
  }


  .banner3 {
    width: 100%;
  }
  
  .maps {
    text-align: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .main3 {
    display: flex;
    flex-direction: column;
  }
  
  


  .formulario {
    margin-top: 5%;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    vertical-align: center;
    align-items: center;
    margin-bottom: 4%;
  }
  
  input[type="text"] {
    width: 100%;
    height: 37px;
    border-radius: 4px;
    display: flex;
    margin: 0px;
    margin-bottom: 2%;
    margin-top: 2%;
  }
  
  label{
    font-family: 'Cormorant', serif;
    font-weight: lighter;
    font-size: 29px;
  }
  
  button{
    width: 33%;
    height: 37px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    background-color: #EFCEC0;
    border-radius: 4px;
    text-align: center;
  }



}






@media (min-width: 768px) and (max-width: 991px){

  .contenedor{

    grid-template: 
    "header   navbar"   80px
    "main    main"     auto
    "footer   footer"   50px /
     30%    70%;
  }

  .main {
    grid-area: main;
    
    display: grid;
    
      grid-template-columns: 40% 60%;
      grid-template-rows: 280px auto;
      column-gap: 10px;
      grid-template-areas: 
  
      "slider slider"
      "png caja3";
  }

  .logo {
    width: 100px;
    margin: 3px;
    float: right;
    margin-right: 20px;
  }
  
  
  nav ul li a {
      color: #E99598;
      font-size: 1.7rem;
      
  }
  
  .navbar a:hover {
      color:#F5E1CE;
  }
  
  .navbar {
      padding: 1.1rem;
      align-items: center;
      text-align: center;
      font-family: 'Martel', serif;
      
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-areas: 
      "productos consejos";
  }
  
  .productos {
    grid-area: productos;
  }
  .consejos {
    grid-area: consejos;
    float: left;
  }
  
  nav ul li {
      display: contents;
      text-align: center;
  }
  
  .slider {
      text-align: center;
      justify-content: center;
      
      display: block;
      width: 100%;
      
      align-items: center;
      grid-area: slider;
  }
  
  .maquillaje {
    width: 1300px;
  }
  
  .png {
    
    grid-area: png;
   
  }
  
  .png img {
    width: 100%;
    display: grid;
  }
  
  .caja3 {
    grid-area: caja3;
    display: inline-grid;
    align-items: center;

  }
  
  .info {
    width: 87%;
    margin-top: 0px;
  }
  
  .titulo {
    text-align: left;
  
  }
  
  .texto1{
    color: black;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    
    margin-top: 15px;
    margin-bottom: 5px;
  }
  
  
  .redes {
    grid-area: redes;
   
  }
  
  .redes2 {
    float: right;
    margin-right: 70px;
  }
  
  footer {
      display: block;
      align-items: center;
      
     
  }
  
  .firma {
    grid-area: firma;
    float: left;
    margin-left: 70px;
    font-family: 'Poppins', sans-serif;
  }
  
  p {
    display: inline-block;
  }
  
  footer div ul a img {
      max-width: 1.8rem;
      width: 100%;
      height: auto;
      margin: 4px;
  }
  

  

  .banner3 {
    width: 100%;
  }

  .maps {
    text-align: center;
    justify-content: center;
    margin-top: 20px;
  }

  .main3 {
    display: flex;
    flex-direction: column;
  }


  .header2{
    padding: 0px;
    align-items: center;
    text-align: center;
    height: fit-content;
    
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-areas: 
    "logo navbar";
  }

  .logo2 {
    grid-area: logo;
    width: 38%;
    margin-left: auto;
  }

  .logo2 a img{
    width: 100%;
  }

  .navbar2{
    grid-area: navbar;
    padding: 0px;
    align-items: center;
    text-align: center;
    
    
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    "productos consejos";
  }


  .formulario {
    margin-top: 2%;
    text-align: center;
    justify-content: center;
    display: block;
  }

  input[type="text"] {
    width: 37%;
    height: 35px;
    border-radius: 4px;
    
  }

  label{
    font-family: 'Cormorant', serif;
    font-weight: lighter;
    font-size: 28px;
    
  }

  button{
    width: 11%;
    height: 33px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    background-color: #EFCEC0;
    border-radius: 4px;
  }




  .galeria2 {

    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 25px;
  }

  .galeria2 img {
      display: block;
      margin: 10px;
  }

}


@media (min-width: 992px) and (max-width: 1999px) {

  .contenedor{
    grid-template: 
    "header   navbar  navbar"  60px
    "main   main    main"  auto
    "footer   footer  footer"   40px /
     200px    auto  400px;
  }

  /*.logo {
    width: 38%;
    margin: 3px;
    float: right;
    margin-right: 20px;
  }*/

  .maquillaje {
    width: 1300px;
  }

  .charlotte {
    width: 45%;
    height: auto;
    text-align: center;
    float: right;
    margin-right: 2em;
  }
}



