@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  height: 100%;
}

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  min-height: 100%; 
  background-color: #FFFCF6;
}

.contenedor {
  display: grid;
  
}

.header{
  grid-area: header;
  
}


.navbar{
  grid-area: navbar;
  flex-direction: row;
}

.main {
  grid-area: main;
  
  display: grid;
	
    grid-template-columns: 50% 50%;
    grid-template-rows: 280px auto;
    grid-template-areas: 

    "slider slider"
    "png caja3";
}

.footer{
  grid-area: footer;
  background-color: #EFCEC0;
  
  display: grid;
	  grid-template-columns: 50% 50%;
    grid-template-areas: 
    "firma redes";
}

a {
    text-decoration: none;
}

.logo {
  width: 38%;
   margin: 3px;
   float: right;
}


nav ul li a {
    color: #E99598;
    font-size: 1.7rem;
    
}

.navbar a:hover {
    color:#F5E1CE;
}

.navbar {
    padding: 1.1rem;
    align-items: center;
    text-align: center;
    font-family: 'Martel', serif;
    
    display: grid;
	  grid-template-columns: 50% 50%;
    grid-template-areas: 
    "productos consejos";
}

.productos {
  grid-area: productos;
}
.consejos {
  grid-area: consejos;
  float: left;
}

nav ul li {
    display: contents;
    text-align: center;
}

.slider {
    text-align: center;
    justify-content: center;
    
    display: block;
    width: 100%;
    
    align-items: center;
    grid-area: slider;
}

.png {
  
  grid-area: png;
 
}

.charlotte {
  width: 45%;
  height: auto;
  text-align: center;
  float: right;
  margin-right: 2em;
}

.caja3 {
  grid-area: caja3;
  
}

.info {
  width: 56%;
  margin-top: 3em;
}

h1 {
  text-align: left;

}

.texto1{
  color: black;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  text-align: justify;
  margin-top: 26px;
   
}


.redes {
  grid-area: redes;
 
}

.redes2 {
  float: right;
  margin-right: 70px;
}

footer {
    display: block;
    align-items: center;
    
   
}

.firma {
  grid-area: firma;
  float: left;
  margin-left: 70px;
  
}

p {
  display: inline-block;
}

footer div ul a img {
    max-width: 1.8rem;
    width: 100%;
    height: auto;
    margin: 4px;
}





















@media (min-width: 576px) and (max-width: 767px) {

  .contenedor{

    grid-template: 
    "header" 215px
    "navbar" 130px
    "main"  auto
    "footer"  95px /
    100%;
  }
 


  .main {
    grid-area: main;
    
    display: grid;
    
      grid-template-columns: 100%;
      grid-template-rows: 280px auto;
      grid-template-areas: 
  
      "slider"
      "caja3"
      "png";
  }
  
  .footer{
    grid-area: footer;
    background-color: #EFCEC0;
    
    display: grid;
      grid-template-columns: 100%;
      grid-template-areas: 
      "firma"
      "redes";
      place-items: center;
  }
  
  a {
      text-decoration: none;
  }
  
  .logo {
    width: 38%;
     
     float: none;
     text-align: center;
     margin-left: 30%;
     margin-right: 30%;
     margin-top: 3%;
     margin-bottom: 5%;
  }
  
  
  nav ul li a {
      color: #FFFCF6;
      font-size: 2.4rem;
      
  }

  nav {
    background-color: #EFCEC0
  }

  .navbar a:hover {
      color:#F5E1CE;
  }
  
  .navbar {
      padding: 0px;
      align-items: center;
      text-align: center;
      font-family: 'Martel', serif;
      

      display: grid;
      grid-template-columns: 100%;
      grid-template-areas: 
      "productos"
      "consejos";
  }
  
  .productos {
    grid-area: productos;
    text-align: center;
  }

  .consejos {
    grid-area: consejos;
    float: none;
    text-align: center;
    
  }
  
  nav ul li {
      display: contents;
      text-align: center;
  }
  
  .slider {
      text-align: center;
      justify-content: center;
      
      display: block;
      width: 100%;
      
      align-items: center;
      grid-area: slider;
  }
  
  .png {
    grid-area: png;
   
  }
  
  .charlotte {
    width: 100%;
    height: auto;
    text-align: center;
    justify-content: center;
    float: none;
    margin-right: 0px;
  }
  
  .caja3 {
    grid-area: caja3;
    
  }
  
  .info {
    width: 100%;
    margin-top: 1em;
  }
  
  h1 {
    text-align: center;
  font-size: 38px;
  }
  
  .texto1{
    color: black;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    margin-top: 26px;
    width: 100%;
    padding-left: 2.5em;
    padding-right: 2.5em;
  }
  
  
  .redes {
    grid-area: redes;
   
  }
  
  .redes2 {
    float: none;
    margin-right: 0px;
  }
  
  footer {
      display: block;
      align-items: center;
      
     
  }
  
  .firma {
    grid-area: firma;
    float: none;
    margin-left: 0px;
    font-size: 22px;
  }
  
  /*p {
    display: inline-block;
  }*/
  
  footer div ul a img {
      max-width: 2.3rem;
      width: 100%;
      height: auto;
      margin: 4px;
  }

}






@media (min-width: 768px) and (max-width: 991px){

  .contenedor{

    grid-template: 
    "header   navbar"   80px
    "main    main"     auto
    "footer   footer"   50px /
     30%    70%;
  }
  .logo {
    width: 43%;
    margin: 3px;
    float: right;
    margin-right: 20px;
  }
  
  
  nav ul li a {
      color: #E99598;
      font-size: 1.7rem;
      
  }
  
  .navbar a:hover {
      color:#F5E1CE;
  }
  
  .navbar {
      padding: 1.1rem;
      align-items: center;
      text-align: center;
      font-family: 'Martel', serif;
      
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-areas: 
      "productos consejos";
  }
  
  .productos {
    grid-area: productos;
  }
  .consejos {
    grid-area: consejos;
    float: left;
  }
  
  nav ul li {
      display: contents;
      text-align: center;
  }
  
  .slider {
      text-align: center;
      justify-content: center;
      
      display: block;
      width: 100%;
      
      align-items: center;
      grid-area: slider;
  }
  
  .png {
    
    grid-area: png;
   
  }
  
  .charlotte {
    width: 70%;
    height: auto;
    text-align: center;
    float: right;
    margin-right: 2em;
  }
  
  .caja3 {
    grid-area: caja3;
    
  }
  
  .info {
    width: 80%;
    margin-top: 1em;
  }
  
  h1 {
    text-align: left;
  
  }
  
  .texto1{
    color: black;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    margin-top: 26px;
     
  }
  
  
  .redes {
    grid-area: redes;
   
  }
  
  .redes2 {
    float: right;
    margin-right: 70px;
  }
  
  footer {
      display: block;
      align-items: center;
      
     
  }
  
  .firma {
    grid-area: firma;
    float: left;
    margin-left: 70px;
    
  }
  
  p {
    display: inline-block;
  }
  
  footer div ul a img {
      max-width: 1.8rem;
      width: 100%;
      height: auto;
      margin: 4px;
  }
  
}


@media (min-width: 992px) and (max-width: 1999px) {

  .contenedor{
    grid-template: 
    "header   navbar  navbar"  60px
    "main   main    main"  auto
    "footer   footer  footer"   40px /
     400px    auto  200px;
  }

  .logo {
    width: 20%;
    margin: 3px;
    float: right;
    margin-right: 20px;
  }
  
}


@media (min-width: 1200px) {
  .contenedor{
    grid-template: 
    "header   navbar navbar  navbar"  60px
    "main   main    main   main"  auto
    "footer   footer  footer  footer"   40px /
    200px    auto   auto   200px;
   }
}
